{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="container-fluid d-none d-xxl-block">
  <div class="row">
    <div class="col">

      <div id="slider_de_cartas" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
      
          <div class="carousel-item">
      
            <div class="container">
              <div class="row">
      
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5><!--Titulo-->
                      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6><!--subtitulo-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
      
      
      
          </div>
          <div class="carousel-item">
      
            <div class="container">
              <div class="row">
      
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5><!--Titulo-->
                      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6><!--subtitulo-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
      
      
      
          </div>
          <!--div del inner-->
        </div>
      
        <!--boton para retroceder-->
        <button class="carousel-control-prev" type="button" data-bs-target="#slider_de_cartas" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <!--boton para avanzar-->
        <button class="carousel-control-next" type="button" data-bs-target="#slider_de_cartas" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>




<!--Cartas-->
<div class="container d-block d-xxl-none">
  <div class="row">

    <!--seccion for-->
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5><!--Titulo-->
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6><!--subtitulo-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <!--ultima parte de la seccion-->


    <div class="col-12 col-md-6 col-xl-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5><!--Titulo-->
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6><!--subtitulo-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>    
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5><!--Titulo-->
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6><!--subtitulo-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>










    <!--div del row-->
  </div>
  <!--div del container-->
</div>



  



  


  {% endblock %}